html {
    scroll-behavior: auto !important;
}

body {
    font-family: 'Oswald', sans-serif;
    color: black;
}



header {
    overflow: hidden;
    position: relative;
    top: 6.5rem;
}


/* el navbar */

.navbar {
    position: fixed;
    width: 100vw;
    z-index: 3 !important;
}

.navbar-brand {
    font-family: "Oswald";
    font-size: 50px;
    font-weight: 700;
}


/* header*/

.carousel-indicators [data-bs-target] {
    height: 15px;
    width: 15px;
    border-radius: 50%;
}


/* sobre punta arenas */

h1 {
    font-family: "Oswald";
    font-size: 50px;
    font-weight: 700;
}

.texto {
    font-family: "Oswald";
    font-size: 20px;
    font-weight: 200;
    text-align: justify;
}


/* destacados */

h2 {
    font-family: "Oswald";
    font-size: 40px;
    font-weight: 700;
}

.img-top {
    border-radius: 5%;
}

.card-title {
    font-family: "Oswald";
    font-size: 28px;
    font-weight: 400;
}

.card-text {
    font-family: "Oswald";
    font-size: 20px;
    font-weight: 400;
    text-align: justify;
}


/* contacto */

.ct {
    color: black;
    font-weight: 400;
    font-size: 20px;
}

.form-control {
    border-color: black;
}

.bt {
    color: black;
    font-size: 20px;
    border-radius: 25px !important;
}


/* footer */

#footer a {
    color: white;
    text-decoration: none;
}


/* reducir medidas en formato mobile */

@media (max-width: 768px) {
    header {
        top: 4.1rem;
    }
    .navbar-brand {
        font-family: "Oswald";
        font-size: 25px;
        font-weight: 700;
        margin-left: 1rem;
    }
    .imgnb {
        width: 35px;
    }
    h1 {
        font-family: "Oswald";
        font-size: 30px;
        font-weight: 700;
    }
    h2 {
        font-family: "Oswald";
        font-size: 25px;
        font-weight: 700;
    }
    .texto {
        font-family: "Oswald";
        font-size: 16px;
        font-weight: 200;
        text-align: justify;
    }
    .card-title {
        font-family: "Oswald";
        font-size: 20px;
        font-weight: 400;
    }
    .card-text {
        font-family: "Oswald";
        font-size: 16px;
        font-weight: 400;
        text-align: justify;
    }
    .bt {
        font-size: 16px;
        font-weight: 700;
    }
    #footer h1 {
        font-size: 25px;
    }
    #footer i {
        font-size: 25px;
    }
}